{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <style>
        .menu-options{
            display: flex;
        }
    </style>
 {% endblock %}

{% block title %} Blog detail {% endblock %}
{% block content %}
    <section class="pb-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Blog edit</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'admin_blog' %}" type="button">
                        Export
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="menu-options pb-4">
                    <a href="" class="btn btn-sm btn-outline-secondary mr-2">
                        Add new
                    </a>
                    <a href="{% url 'admin_blog_delete' blog_post.id %}" class="btn btn-sm btn-outline-danger mr-2">
                        Delete
                    </a>
                    <a href="{% url 'admin_blog' %}" class="btn btn-sm btn-outline-secondary mr-2">
                        Back to the list
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Update" class="btn btn-block btn-info">
                </form>
            </div>
        </div>

    </section>
{% endblock %}