**/.idea/
**/.vscode/
**/venv/
**/__pycache__/

**/node_modules/

**/jupyter/
*.pyc

dev/momo_ristorante/website/__pycache__/views.cpython-38.pyc
dev/momo_ristorante/momo_ristorante/__pycache__/settings.cpython-38.pyc

**/env/
/dev/database
