.idea/
design/node_modules/
__pycache__/
jupyter/
*.pyc
*.pyc
*.pyc
dev/momo_ristorante/website/__pycache__/views.cpython-38.pyc
dev/momo_ristorante/momo_ristorante/__pycache__/settings.cpython-38.pyc
