<section class="app-header">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>{{ title }}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{% url 'admin_url_blog_create' %}" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-plus-square"></i> Add new
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#" type="button">
                    <i class="fas fa-download"></i> Export
                </a>
            </div>
        </div>
    </div>
</section>