<section class="menu-crud">
    <div class="row">
        <div class="col-6">
            <div class="menu-options pb-4">
                <a href="{% url 'admin_url_blog_create' %}" class="btn btn-sm btn-outline-secondary mr-2">
                    Add new
                </a>
                <a href="{% url 'admin_blog_update' blog.id %}" class="btn btn-sm btn-outline-secondary mr-2">
                    Edit
                </a>
                <a href="{% url 'admin_blog_update' blog.id %}" class="btn btn-sm btn-outline-danger mr-2">
                    Delete
                </a>
                <a href="{% url 'admin_blog' %}" class="btn btn-sm btn-outline-secondary mr-2">
                    Back to the list
                </a>
            </div>
        </div>
    </div>
</section>