{% extends 'dashboard/base.html' %}

{% block content %}
<section class="pb-4">
    <h2 class="pt-3 pb-3 border-bottom">REST API Endpoints</h2>
    <div class="row pt-3">
        <div class="col">
            <div class="list-group">
                {% for endpoint in endpoints %}
                <a class="list-group-item list-group-item-action"
                   href="http://127.0.0.1:8000{{ endpoint }}"
                   target="_blank">
                    {{ endpoint }}
                </a>
                {% endfor %}
            </div>

            <h2 class="pt-4 pb-3">
                Django-Rest-Auth
            </h2>
            <!-- django-rest-auth -->
            <div class="list-group">
                <a class="list-group-item list-group-item-action"
                   href="http://127.0.0.1:8000/api/v1/rest-auth/login/"
                   target="_blank">
                    <b>Login:</b> /api/v1/rest-auth/login/
                </a>

                <a class="list-group-item list-group-item-action"
                   href="http://127.0.0.1:8000/api/v1/rest-auth/logout/"
                   target="_blank">
                    <b>Logout:</b> /api/v1/rest-auth/logout/
                </a>

                <a class="list-group-item list-group-item-action"
                   href="http://127.0.0.1:8000/api/v1/rest-auth/password/reset"
                   target="_blank">
                    <b>Password reset:</b> /api/v1/rest-auth/password/reset
                </a>

                <a class="list-group-item list-group-item-action"
                   href="http://127.0.0.1:8000/api/v1/rest-auth/password/reset/confirm/"
                   target="_blank">
                    <b>Password reset confirm:</b> /api/v1/rest-auth/password/reset/confirm/
                </a>

                <a class="list-group-item list-group-item-action"
                   href="http://127.0.0.1:8000/api/v1/rest-auth/registration/"
                   target="_blank">
                    <b>Registration:</b> /api/v1/rest-auth/registration/
                </a>

            </div>

            <div class="py-4">
                <h2>Schemas</h2>
                <ul>
                    <li>
                        <a href="http://127.0.0.1:8000/schema/">
                            http://127.0.0.1:8000/schema/
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}